manifest {


        name = "LMAS - Last Metagenomic Assembler Standing"
        mainScript = "LMAS.nf"
        version = "0.1"

}

params {
    platformHTTP = null
    reportHTTP = null
}

env {
    PYTHONPATH = "$baseDir/templates:\$PYTHONPATH"
    PATH = "$baseDir/templates:\$PATH"
}

process {
    cpus = 4
    memory = {8.Gb*task.attempt}

    errorStrategy = { task.attempt <= 7 ? "retry" : "ignore" }
    maxRetries = 7
    container = "cimendes/lmas-python-base:0.1"
}

docker {
    runOptions = "-u \$(id -u):\$(id -g)"
}


executor {
  $local {
      cpus = 4
  }
}

singularity {
    cacheDir = "$HOME/.singularity_cache"
    autoMounts = true
}

trace {
    enabled = true
    file = "pipeline_stats.txt"
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              container,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              queue,\
              %cpu,\
              %mem,\
              rss,\
              vmem,\
              rchar,\
              wchar"
}

includeConfig "profiles.config"
includeConfig "resources.config"
includeConfig "containers.config"
includeConfig "params.config"
