manifest {

    name = "LMAS - Last Metagenomic Assembler Standing"
    mainScript = "LMAS.nf"
    version = "1.1.0"
    defaultBranch = 'main'

}

params {

    platformHTTP = null
    reportHTTP = null
}

env {

    PYTHONPATH = "$baseDir/templates:\$PYTHONPATH"
    PATH = "$baseDir/templates:\$PATH"
}

process {
    
    errorStrategy = { task.attempt <= 2 ? "retry" : "ignore" }
    maxRetries = 2
    container = "cimendes/lmas-python-base:0.1"
}

docker {
    runOptions = "-u \$(id -u):\$(id -g)"
}


executor {
  $local {
      cpus = 4
  }
}

singularity {
    cacheDir = "$HOME/.singularity_cache"
    autoMounts = true
}

trace {
    enabled = true
    file = "pipeline_stats.txt"
    fields = "task_id,\
              hash,\
              process,\
              tag,\
              status,\
              exit,\
              start,\
              container,\
              cpus,\
              time,\
              disk,\
              memory,\
              duration,\
              realtime,\
              queue,\
              %cpu,\
              %mem,\
              rss,\
              vmem,\
              rchar,\
              wchar"
}

includeConfig "configs/profiles.config"
includeConfig "configs/resources.config"
includeConfig "configs/containers.config"
includeConfig "configs/params.config"
