params {

        /*
        Input Files
        ---------------------------
        */
        fastq = 'data/fastq/*_{1,2}.*'
        reference = 'data/reference/*.fasta'
        md = 'data/*.md'

        /*
        Sort-Read Assemblers
        ---------------------------
        */
        //BCALM2
        bcalmKmerSize = 31

        //GATB Minia Pipeline
        gatbkmer = '21,61,101,141,181'
        gatb_besst_iter = 10000
        GATB_error_correction = false

        //Minia
        miniakmer = 31

        //MEGAHIT
        megahitKmers = '21,29,39,59,79,99,119,141'

        //metaSPAdes
        metaspadesKmers = 'auto'

        //SPAdes
        spadesKmers = 'auto'

        //VelvetOptimizer
        velvetoptimizer_hashs = 19
        velvetoptimizer_hashe = 31

        /*
        Assembly Quality Control
        */
        minLength = 1000
        mapped_reads_threshold = 0.75

        /*
        Quality Parameters
        */
        n_target = 0.5
        l_target = 0.9
}