process {
    withName: BCALM2 {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: GATBMINIAPIPELINE {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: MINIA {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: MEGAHIT {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: METASPADES {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: UNICYCLER {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: SPADES {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: SKESA {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: PANDASEQ {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: VELVETOPTIMIZER {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
    withName: IDBA {
        cpus = 4
        memory = {8.Gb*task.attempt}
    }
}