process {
        withName: REFORMAT {
        container = "pcerqueira/bbtools:38.44"
        }
        withName: ABYSS {
            container = "cimendes/abyss:2.3.1-1"
        }
        withName: BCALM2 {
            container = "cimendes/bcalm:2.2.3-1"
        }
        withName: FLYE {
            container = "cimendes/flye:2.8.3"
        }
        withName: GATBMINIAPIPELINE {
            container = "cimendes/gatb-minia-pipeline:31.07.2020-1"
        }
        withName: IDBA {
            container = "cimendes/idba:1.1.3-1"
        }
        withName: MEGAHIT {
            container = "cimendes/megahit-assembler:1.2.9-1"
        }
        withName: METAFLYE {
            container = "cimendes/flye:2.8.3"
        }
        withName: METAHIPMER2 {
            container = "cimendes/mhm2:v2.0.0-65-gaad446d-generic"
        }
        withName: METASPADES {
            container = "cimendes/spades:3.15.3-1"
        }
        withName: MINIA {
            container = "cimendes/minia:3.2.6-1"
        }
        withName: RA {
            container = "cimendes/ra:0.9.0"
        }
        withName: RAVEN {
            container = "cimendes/raven:1.5.0"
        }
        withName: SKESA {
            container = "cimendes/skesa:2.5.0-1"
        }
        withName: SPADES {
            container = "cimendes/spades:3.15.3-1"
        }
        withName: UNICYCLER {
            container = "cimendes/unicycler:0.4.9-1"
        }
        withName: VELVETOPTIMISER {
            container = "cimendes/velvetoptimiser:2.2.6-1"
        }
        withName: FILTER_ASSEMBLY {
            container = "pcerqueira/bbtools:38.44"
        }
        withName:  ASSEMBLY_MAPPING {
            container = "cimendes/minimap2:2.22-1"
        }
        withName: READ_MAPPING {
            container = "cimendes/minimap2:2.22-1"
        }
        withName: LONG_READ_MAPPING {
            container = "cimendes/minimap2:2.22-1"
        }
}