params {

        /*
        Input Files
        ---------------------------
        */
        fastq = 'data/fastq/*_{1,2}.*'
        reference = 'data/reference/*.fasta'
        md = 'data/*.md'

        /*
        Sort-Read Assemblers
        ---------------------------
        */
        //abyss
        abyss = false
        abyssKmerSize = 96
        abyssBloomSize = '2G'

        //GATB Minia Pipeline
        gatb_minia = true
        gatbKmerSize = '21,61,101,141,181'
        gatb_besst_iter = 10000
        gatb_error_correction = false

        //IDBA-UD
        idba = true

        //METAHIPMER2
        metahipmer2 = false
        metahipmer2KmerSize = '21,33,55,77,99'

        //Minia
        minia = false
        miniaKmerSize = 31

        //MEGAHIT
        megahit = true
        megahitKmerSize = '21,29,39,59,79,99,119,141'

        //metaSPAdes
        metaspades = true
        metaspadesKmerSize = 'auto'

        //SPAdes
        spades = true
        spadesKmerSize = 'auto'

        //StrainXpress
        strainxpress = false

        //SKESA
        skesa = true

        //Unicycler
        unicycler = true

        //VelvetOptimiser
        velvetoptimiser = false
        velvetoptimiser_hashs = 19
        velvetoptimiser_hashe = 31

        /*
        Assembly Quality Control
        */
        minLength = 1000
        mapped_reads_threshold = 0.75

        /*
        Quality Parameters
        */
        n_target = 0.5
        l_target = 0.9
        plot_scale = 'log'
}
