params {

        /*
        Input Files
        ---------------------------
        */
        fastq = 'data/fastq/*_{1,2}.*'
        reference = 'data/reference/*.fasta'
        md = 'data/*.md'

        /*
        Sort-Read Assemblers
        ---------------------------
        */
        //abyss
        abyss = true
        abyssKmerSize = 96
        abyssBloomSize = '2G'

        //BCALM2
        bcalm = true
        bcalmKmerSize = 31

        //GATB Minia Pipeline
        gatb_minia = true
        gatbkmer = '21,61,101,141,181'
        gatb_besst_iter = 10000
        GATB_error_correction = false

        //Minia
        minia = true
        miniakmer = 31

        //MEGAHIT
        megahit = true
        megahitKmers = '21,29,39,59,79,99,119,141'

        //metaSPAdes
        metaspades = true
        metaspadesKmers = 'auto'

        //SPAdes
        spades = true
        spadesKmers = 'auto'

        //SKESA
        skesa = true

        //Unicycler
        unicycler = true

        //VelvetOptimiser
        velvetoptimiser = true
        velvetoptimiser_hashs = 19
        velvetoptimiser_hashe = 31

        //IDBA-UD
        idba = true

        /*
        Assembly Quality Control
        */
        minLength = 1000
        mapped_reads_threshold = 0.75

        /*
        Quality Parameters
        */
        n_target = 0.5
        l_target = 0.9
}