// Compilation of commonly used profile combinations of executor and container engines

profiles {


    standard {
        singularity.enabled = true
    }

    docker {
        docker.enabled = true
    }

    imm_lobo {
        process.clusterOptions = "--nodelist=compute-[11,12,13,17,18,19,20,21]"
        shifter.enabled = true
        process.executor = "slurm"
    }

    // SLURM executor
    slurm_sing {
        singularity.enabled = true
        process.executor = "slurm"
    }

    slurm_docker {
        docker.enabled = true
        process.executor = "slurm"
    }

    slurm_shifter {
        shifter.enabled = true
        process.executor = "slurm"
    }

    slurm_singularity {
        singularity.enabled = true
        process.executor = "slurm"
    }

    // SGE executor
    sge_sing {
        singularity.enabled = true
        process.executor = "sge"
    }

    sge_docker {
        docker.enabled = true
        process.executor = "sge"
    }

    sge_shifter {
        shifter.enabled = true
        process.executor = "sge"
    }

    // LSF executor
    lsf_sing {
        singularity.enabled = true
        process.executor = "lsf"
    }

    lsf_docker {
        docker.enabled = true
        process.executor = "lsf"
    }

    lsf_shifter {
        shifter.enabled = true
        process.executor = "lsf"
    }

    // PBS executor
    pbs_sing {
        singularity.enabled = true
        process.executor = "pbs"
    }

    pbs_docker {
        docker.enabled = true
        process.executor = "pbs"
    }

    pbs_shifter {
        shifter.enabled = true
        process.executor = "pbs"
    }

    // NQSII executor
    nqsii_sing {
        singularity.enabled = true
        process.executor = "nqsii"
    }

    nqsii_docker {
        docker.enabled = true
        process.executor = "nqsii"
    }

    nqsii_shifter {
        shifter.enabled = true
        process.executor = "nqsii"
    }

    // HTCondor executor
    condor_sing {
        singularity.enabled = true
        process.executor = "condor"
    }

    condor_docker {
        docker.enabled = true
        process.executor = "condor"
    }

    condor_shifter {
        shifter.enabled = true
        process.executor = "condor"
    }

}
