process {
    withName: ABYSS {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: BCALM2 {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: GATBMINIAPIPELINE {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: IDBA {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: MEGAHIT {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: METAHIPMER2 {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: METASPADES {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: MINIA {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: SKESA {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: SPADES {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: UNICYCLER {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: VELVETOPTIMISER {
        cpus = 8
        memory = {32.Gb*task.attempt}
    }
    withName: READ_MAPPING {
        cpus = 8
        memory = {20.Gb*task.attempt}
    }
}